<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PET SHOP</title>
<link href="fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="css/login.css" type="text/css">
</head>
<body>
	<div>
		<div class="background"></div>
		<div class="sign_in">
			<br> <br>
			<h2 style="color: #0000ff">Forgot Password</h2>
			<form id="form">
				<div class="user">

					<input
						style="border: 1px solid white; background-color: white; border-radius: 5px; margin-left: 10px; margin-top: 15px"
						type="text" name="email" placeholder="Email" class="pix_text">
				</div>

				<button id="bt" class="bt_signIn"
					style="outline: none; cursor: pointer">SEND</button>

				<p style="text-align: center; color: grey;">You will receive 1
					message sent to this email, please confirm and follow the
					instructions in the email</p>

			</form>
			<a href="login"
				style="font-size: small; font-weight: bold; color: rgb(148, 112, 143); padding-left: 130px; cursor: pointer">
				Login</a>
		</div>

	</div>

</body>
</html>