<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>af.org">
<head>
<meta charset="UTF-8">
<title>PET SHOP</title>
<link href="fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="css/login.css" type="text/css">
</head>
<body>
	<div>
		<div class="background"></div>
		<div class="sign_in">
			<h2 style="color: #0000ff">Sign up</h2>
			<form id="form">
				<div class="user">

					<input
						style="border: 1px solid white; background-color: white; border-radius: 5px; margin-left: 10px; margin-top: 15px"
						type="text" name="email" placeholder="Email"
						class="pix_text">

				</div>
				<div class="user">

					<input
						style="border: 1px solid white; background-color: white; border-radius: 5px; margin-left: 10px; margin-top: 15px"
						type="text" name="name" placeholder="Username"
						class="pix_text">

				</div>
				
				<div class="user">

					<input
						style="border: 1px solid white; background-color: white; border-radius: 5px; margin-left: 10px; margin-top: 15px"
						type="password" name="password" placeholder="Password"
						class="pix_text">

				</div>
				<div class="user">

					<input
						style="border: 1px solid white; background-color: white; border-radius: 5px; margin-left: 10px; margin-top: 15px"
						type="password" name="repassword" placeholder="Repassword"
						class="pix_text">

				</div>
				<button id="bt" class="bt_signIn"
					style="outline: none; cursor: pointer">SIGN UP</button>
				
			</form>
			<a href="login"
				style="font-size: small; font-weight: bold; color: rgb(148, 112, 143); padding-left: 130px; cursor: pointer">
				Login</a>
		</div>

	</div>

</body>
</html>